@font-face {
  font-family: "Pokemon";
  src: url("https://fonts.cdnfonts.com/s/17890/Pokemon Solid.woff");
}

.app-title {
  background-color: #e5c531;
  color: black;
  font-size: 3em;
  font-family: "Pokemon", sans-serif;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
