.card-text {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: none;
  width: 100%;
  height: auto;
  text-align: center;
  white-space: nowrap;
}

/*iPad Pro/Mini/Air/Surface Pro*/
@media (max-width: 1100px) {
  .card-text {
    font-size: 20px;
  }
}

/*iPhone SE/XR/12Pro Pixel 7/*/
@media (max-width: 767px) {
  .card-text {
    font-size: 16px;
  }
}

/*Galaxy Fold*/
@media (max-width: 300px) {
  .card-text {
    font-size: 11px;
  }
}

.poke-id {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
}

.normal-type {
  border-color: solid 2px #a8a77a;
}

.fire-type {
  border-color: solid 2px #ee8130;
}

.water-type {
  border-color: solid 2px #6390f0;
}

.electric-type {
  border-color: solid 2px #f7d02c;
}

.grass-type {
  border-color: solid 2px #7ac74c;
}

.ice-type {
  border-color: solid 2px #96d9d6;
}

.fighting-type {
  border-color: solid 2px #c22e28;
}

.poison-type {
  border-color: solid 2px #a33ea1;
}

.ground-type {
  border-color: solid 2px #e2bf65;
}

.flying-type {
  border-color: solid 2px #a98ff3;
}

.psychic-type {
  border-color: solid 2px #f95587;
}

.bug-type {
  border-color: solid 2px #a6b91a;
}

.rock-type {
  border-color: solid 2px #b6a136;
}

.ghost-type {
  border-color: solid 2px #735797;
}

.dragon-type {
  border-color: solid 2px #6f35fc;
}

.dark-type {
  border-color: solid 2px #705746;
}

.steel-type {
  border-color: solid 2px #b7b7ce;
}

.fairy-type {
  border-color: solid 2px #d685ad;
}

.stellar-type {
  border-color: solid 2px purple;
}

.unknown-type {
  border-color: solid 2px grey;
}
