.pokemon-card {
  background-color: #f7e8f6;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 5px;
  padding: 2rem;
}

.pokemon-card:hover {
  background-color: #deb8ea;
  color: aqua;
  scale: 1.1;
}

h4 {
  color: #bd83ce;
}
