@import "CardGradients";
@import "CardColors";

/*iPad Pro/Mini/Air/Surface Pro*/
@media (max-width: 1100px) {
  .card-text {
    font-size: 3vw;
  }
}

/*iPhone SE/XR/12Pro Pixel 7/*/
@media (max-width: 767px) {
  .card-text {
    font-size: 5vw;
  }
}

/*Galaxy Fold/iPhone X*/
@media (min-width: 150px) and (max-width: 380px) {
  .card-text {
    font-size: 5vw;
  }
}

@mixin pill-theme {
  border-radius: 10px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 2vw;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: none;
  width: 100%;
  height: auto;
  padding: 0.35rem;
  margin: 0.25rem;
  text-align: center;
  white-space: nowrap;
}

.pokeimg {
  display: block;
  width: 75%;
  height: 100%;
}

.card-text {
  font-size: 3vw;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: none;
  width: 100%;
  height: auto;
  padding: 0.25rem;
  text-align: center;
  white-space: nowrap;
  color: white;
}

.poke-id {
  color: rgb(179, 170, 170);
  text-align: center;
  font-size: 4vw;
}

/*
Pokemon types: Normal, Fire, Water, Electric, Grass, Ice, Fighting, 
Poison, Ground, Flying, Psychic, Bug, Rock, Ghost, Dragon, Dark, Steel,
Fairy, Stellar, Unknown
*/

/*Normal Type*/
.normal-type {
  background: $normal-type-bg !important;
  border-color: $normal-type-color !important;
  border-width: 3px !important;
}

.normal-text {
  background-color: $normal-type-color !important;
  @include pill-theme;
}

/*Fire Type*/
.fire-type {
  background: $fire-type-bg !important;
  border-color: $fire-type-color !important;
  border-width: 3px !important;
}

.fire-text {
  background-color: $fire-type-color !important;
  @include pill-theme;
}

/*Water Type*/
.water-type {
  background: $water-type-bg !important;
  border-color: $water-type-color !important;
  border-width: 3px !important;
}

.water-text {
  background-color: $water-type-color !important;
  @include pill-theme;
}

/*Electric Type*/
.electric-type {
  background: $electric-type-bg !important;
  border-color: $electric-type-color !important;
  border-width: 3px !important;
}

.electric-text {
  background-color: $electric-type-color !important;
  @include pill-theme;
}

/*Grass Type*/
.grass-type {
  background: $grass-type-bg !important;
  border-color: $grass-type-color !important;
  border-width: 3px !important;
}

.grass-text {
  background-color: $grass-type-color !important;
  @include pill-theme;
}

/*Ice Type*/
.ice-type {
  background: $ice-type-bg !important;
  border-color: $ice-type-color !important;
  border-width: 3px !important;
}

.ice-text {
  background-color: $ice-type-color !important;
  @include pill-theme;
}

/*Fighting Type*/
.fighting-type {
  background: $fighting-type-bg !important;
  border-color: $fighting-type-color !important;
  border-width: 3px !important;
}

.fighting-text {
  background-color: $fighting-type-color !important;
  @include pill-theme;
}

/*Poison Type*/
.poison-type {
  background: $poison-type-bg !important;
  border-color: $poison-type-color !important;
  border-width: 3px !important;
}

.poison-text {
  background-color: $poison-type-color !important;
  @include pill-theme;
}

/*Ground Type*/
.ground-type {
  background: $ground-type-bg !important;
  border-color: $ground-type-color !important;
  border-width: 3px !important;
}

.ground-text {
  background-color: $ground-type-color !important;
  @include pill-theme;
}

/*Flying Type*/
.flying-type {
  background: $flying-type-bg !important;
  border-color: $flying-type-color !important;
  border-width: 3px !important;
}

.flying-text {
  background-color: $flying-type-color !important;
  @include pill-theme;
}

/*Psychic Type*/
.psychic-type {
  background: $psychic-type-bg !important;
  border-color: $psychic-type-color !important;
  border-width: 3px !important;
}

.psychic-text {
  background-color: $psychic-type-color !important;
  @include pill-theme;
}

/*Bug Type*/
.bug-type {
  background: $bug-type-bg !important;
  border-color: $bug-type-color !important;
  border-width: 3px !important;
}

.bug-text {
  background-color: $bug-type-color !important;
  @include pill-theme;
}

/*Rock Type*/
.rock-type {
  background: $rock-type-bg !important;
  border-color: $rock-type-color !important;
  border-width: 3px !important;
}

.rock-text {
  background-color: $rock-type-color !important;
  @include pill-theme;
}

/*Ghost Type*/
.ghost-type {
  background: $ghost-type-bg !important;
  border-color: $ghost-type-color !important;
  border-width: 3px !important;
}

.ghost-text {
  background-color: $ghost-type-color !important;
  @include pill-theme;
}

/*Dragon Type*/
.dragon-type {
  background: $dragon-type-bg !important;
  border-color: $dragon-type-color !important;
  border-width: 3px !important;
}

.dragon-text {
  background-color: $dragon-type-color !important;
  @include pill-theme;
}

/*Dark Type*/
.dark-type {
  background: $dragon-type-bg !important;
  border-color: $dark-type-color !important;
  border-width: 3px !important;
}

.dark-text {
  background-color: $dark-type-color !important;
  @include pill-theme;
}

/*Steel Type*/
.steel-type {
  background: $steel-type-bg !important;
  border-color: $steel-type-color !important;
  border-width: 3px !important;
}

.steel-text {
  background-color: $steel-type-color !important;
  @include pill-theme;
}

/*Fairy Type*/
.fairy-type {
  background: $fairy-type-bg !important;
  border-color: $fairy-type-color !important;
  border-width: 3px !important;
}

.fairy-text {
  background-color: $fairy-type-color !important;
  @include pill-theme;
}

/*Stellar Type*/
.stellar-type {
  background: $stellar-type-bg !important;
  border-color: $stellar-type-color !important;
  border-width: 3px !important;
}

.stellar-text {
  background-color: $stellar-type-color !important;
  @include pill-theme;
}

/*Unknown Type*/
.unknown-type {
  border-color: $unknown-type-bg !important;
  border-width: 3px !important;
}

.unknown-text {
  background-color: rgb(151, 149, 149) !important;
  @include pill-theme;
}
