$normal-type-color: #a8a77a;
$fire-type-color: #ee8130;
$water-type-color: #6390f0;
$electric-type-color: #f7d02c;
$grass-type-color: #7ac74c;
$ice-type-color: #96d9d6;
$fighting-type-color: #c22e28;
$poison-type-color: #a33ea1;
$ground-type-color: #e2bf65;
$flying-type-color: #a98ff3;
$psychic-type-color: #f95587;
$bug-type-color: #a6b91a;
$rock-type-color: #b6a136;
$ghost-type-color: #735797;
$dragon-type-color: #6f35fc;
$dark-type-color: #705746;
$steel-type-color: #b7b7ce;
$fairy-type-color: #d685ad;
$stellar-type-color: #db98db;