card-text {
  white-space: nowrap;
}

.pokemon-card {
  background-color: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: none;
  text-align: center;
  width: 100%;
  height: auto;
}

/* .pokemon-card:hover {
  background-color: rgb(243, 240, 240);
  color: black;
  scale: 1.05;
} */

.card-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
