input {
  background-color: #ede7ec;
  border-radius: 15px;
  border: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 0.75rem;
  margin-bottom: 2rem;
  outline: none;
}
