input {
  /* background-color: #ebe3bd; */
  background-color: rgb(210, 205, 205);
  border-radius: 15px;
  border: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 0.75rem;
  outline: none;
}

.search-bar {
  text-align: left;
}
