#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  position: relative;
}

.error {
  font-size: 2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
