/* :root {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: cover;
  height: 100%;
  width: 100%;
} */

body {
  margin: 0;
  display: flex;
  /* min-width: 320px;
  min-height: 100vh; */
}
